
a:link { color: gray; } a:visited { color:black; } a:hover { color: purple; } a:active { color: teal; }
a:link { text-decoration: none; }

*{background-color: lightgreen;}

*{text-align: center;}
*{font-size: large;}
*{list-style: none;}

.songs li{
  margin: 1rem;
  border:2px solid #282c34;
}
.artists li{
  margin: 1rem;
  border:2px solid #282c34;
}


.nav-links {
  display: flex;
  margin-top: 1rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  margin: 1rem;
  
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: larger;
  color: white;
}




